*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background: url("/assets/img/imagem.png");
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50, -50%);
}

.wrapper span{
    color: #fff;
    border: 3px solid #ddd;
    padding: 0 15px;
    border-radius: 25px;
    margin: 0 10px;
}

.box{
    display: inline-block;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
    font-size: 7em;
}

.box:after{
    position: relative;
    white-space: pre;
    content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
}

.box.first-number:after{
    animation: animate 1s steps(10) infinite;
}

.box.second-number:after{
    animation: animate 10s steps(10) infinite;
}

.box.third-number:after{
    animation: animate 100s steps(10) infinite;
}

footer{
    background: rgba(255, 255, 255, 0.459);
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    bottom:0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 25px;
}

footer h4{
    color: #A5A5A5;
    font-size: 13px; 
    font-weight: 200;
}

@keyframes animate{
    0%{
        top: 0;
    }

    100%{
        top: -10em;
    }
}